# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor and IDE
.vscode/
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Logs and databases
*.log
*.sql
*.sqlite

# Ignore secrets and OS files
.env
.env.local
.env.*.local

# Build outputs / caches
build/
dist/
tmp/
temp/

# Misc
Thumbs.db
ehthumbs.db
node_modules/

# Obsidian local state
.obsidian/cache/
.obsidian/workspace.json
.obsidian/.trash/

